html {
    overflow-y: scroll;
}

body {
    background: pink;
    font-family: 'Comic Sans MS';
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#assets {
    position: absolute;
}

#assets li {
    float: left;
    clear: left;
    list-style: none;
}

.dragMe {
    z-index: 1;
    position: relative;
}

#canvasContainer {
    background: white;
    margin: 0 auto;
    width: 578px;
}

#drawCanvasContainer {
    width: 578px;
    height: 400px;
    position: absolute;
}

#buttons {
    width: 578px;
    clear: left;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    background: purple;
    padding: 10px;
    color: white;
    margin: 10px;
}

#result {
    width: 578px;
    margin: 20px auto;
    text-align: center;
}

#result h1 {
    color: red;
    font-size: 18px;
}
